<!-- templates/orders/admin_order_list.html -->
{% extends 'base.html' %}
{% block content %}
<h2>Список заказов</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user.phone }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.created_at }}</td>
            <td>
                <a href="{% url 'update_order_status' order.id %}" class="btn btn-primary">Изменить статус</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}