{% extends 'base.html' %}

{% block content %}
<h1>История заказов</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID заказа</th>
            <th>Статус</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}